## This solution file contains the solution to the Task 1 of Spectrum Internship Drive.

First of all, the necessary imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

>The solution to the problem has been obtained step-by-step.

1. The *student-math.csv* file containing the student information is imported here with the<br> with the numpy function `pandas.read_csv()`.<br> The dataframe created is **stud**.

In [39]:
stud = pd.read_csv('../student-math.csv', sep = ';')

In [40]:
stud.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

2. New column **final_grade** contains the sum of grade *G1*, *G2* and *G3*.

In [41]:
stud['final_grade'] = np.sum(stud[['G1', 'G2', 'G3']], axis = 1)

In [42]:
stud['final_grade']

0      17
1      16
2      25
3      44
4      26
       ..
390    27
391    46
392    25
393    33
394    26
Name: final_grade, Length: 395, dtype: int64

3. The columns *G1*, *G2* and *G3* form **stud** are removed.

In [43]:
stud.drop(['G1', 'G2', 'G3'], axis = 1, inplace = True)

In [44]:
stud.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'final_grade'],
      dtype='object')

>There are no *G1*, *G2* and *G3* column in the above list of columns.

4. All the columns having binary value are replaced by number **1** and **0**.

In [45]:
cols = stud.columns

In [54]:
for col in cols:
    if stud[col].nunique() == 2:
        stud[col] = stud[col].map({stud[col].unique()[0]: 1, stud[col].unique()[1]: 0})

In [55]:
stud.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,final_grade
0,1,1,18,1,1,1,4,4,at_home,teacher,...,1,1,4,3,4,1,1,3,6,17
1,1,1,17,1,1,0,1,1,at_home,other,...,0,1,5,3,3,1,1,3,4,16
2,1,1,15,1,0,0,1,1,at_home,other,...,0,1,4,3,2,2,3,3,10,25
3,1,1,15,1,1,0,4,2,health,services,...,0,0,3,2,2,1,1,5,2,44
4,1,1,16,1,1,0,3,3,other,other,...,1,1,4,3,2,1,2,5,4,26

>The above **stud** dataframe has all the *binary* columns mapped with **1** and **0**.